.containerProduct {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.containerSectionProduct {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 0 70px 0;

}

.containerSectionProduct > p {
    font-size: 15pt;
}
